@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css");

  @keyframes noise-anim {
  0% {
    clip: rect(40px, 9999px, 53px, 0);
  }
  2% {
    clip: rect(15px, 9999px, 46px, 0);
  }
  4% {
    clip: rect(56px, 9999px, 78px, 0);
  }
  6% {
    clip: rect(93px, 9999px, 24px, 0);
  }
  8% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 81px, 0);
  }
  12% {
    clip: rect(79px, 9999px, 63px, 0);
  }
  14% {
    clip: rect(39px, 9999px, 86px, 0);
  }
  16% {
    clip: rect(84px, 9999px, 60px, 0);
  }
  18% {
    clip: rect(91px, 9999px, 67px, 0);
  }
  20% {
    clip: rect(66px, 9999px, 84px, 0);
  }
  22% {
    clip: rect(28px, 9999px, 89px, 0);
  }
  24% {
    clip: rect(11px, 9999px, 76px, 0);
  }
  26% {
    clip: rect(58px, 9999px, 58px, 0);
  }
  28% {
    clip: rect(82px, 9999px, 97px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 29px, 0);
  }
  32% {
    clip: rect(85px, 9999px, 67px, 0);
  }
  34% {
    clip: rect(47px, 9999px, 98px, 0);
  }
  36% {
    clip: rect(92px, 9999px, 24px, 0);
  }
  38% {
    clip: rect(41px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 71px, 0);
  }
  42% {
    clip: rect(21px, 9999px, 41px, 0);
  }
  44% {
    clip: rect(3px, 9999px, 95px, 0);
  }
  46% {
    clip: rect(29px, 9999px, 41px, 0);
  }
  48% {
    clip: rect(66px, 9999px, 47px, 0);
  }
  50% {
    clip: rect(54px, 9999px, 73px, 0);
  }
  52% {
    clip: rect(73px, 9999px, 61px, 0);
  }
  54% {
    clip: rect(76px, 9999px, 22px, 0);
  }
  56% {
    clip: rect(40px, 9999px, 59px, 0);
  }
  58% {
    clip: rect(6px, 9999px, 78px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 84px, 0);
  }
  62% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  64% {
    clip: rect(78px, 9999px, 84px, 0);
  }
  66% {
    clip: rect(62px, 9999px, 53px, 0);
  }
  68% {
    clip: rect(97px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  72% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  74% {
    clip: rect(19px, 9999px, 36px, 0);
  }
  76% {
    clip: rect(70px, 9999px, 54px, 0);
  }
  78% {
    clip: rect(69px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(21px, 9999px, 78px, 0);
  }
  82% {
    clip: rect(91px, 9999px, 10px, 0);
  }
  84% {
    clip: rect(36px, 9999px, 40px, 0);
  }
  86% {
    clip: rect(45px, 9999px, 68px, 0);
  }
  88% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 73px, 0);
  }
  92% {
    clip: rect(88px, 9999px, 43px, 0);
  }
  94% {
    clip: rect(7px, 9999px, 53px, 0);
  }
  96% {
    clip: rect(9px, 9999px, 5px, 0);
  }
  98% {
    clip: rect(22px, 9999px, 1px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 69px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(17px, 9999px, 89px, 0);
  }
  5% {
    clip: rect(48px, 9999px, 32px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 17px, 0);
  }
  15% {
    clip: rect(32px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(22px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(2px, 9999px, 41px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(4px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(90px, 9999px, 52px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 74px, 0);
  }
  55% {
    clip: rect(21px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 21px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 35px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  85% {
    clip: rect(42px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(69px, 9999px, 80px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 50px, 0);
  }
}

@font-face {
  font-family: "blackcraft";
  src: url("https://dune0lyn.github.io/Dune_LS/font/Blackcraft.ttf");
}
:root{
   --bgdark:#1A2423;
  --dark1:#543535;
  --darkb1:84, 53, 53;
  --dark2:#1F2C2B;
  --darkb2:31, 44, 43;
  --light1:#CCBFB7;
  --lightb1:140, 127, 122;
  
  --color:#813C3B;
  --color1:#763B3B;
  --colorb1:129, 60, 59;
  
  --gradient1: linear-gradient(to right, var(--dark2), var(--color));
  --gradient2: linear-gradient(to right, var(--color), var(--dark2));
  --gradient3: linear-gradient(to right, var(--dark2), var(--color), var(--dark2));
  --gradient4: linear-gradient(to right, var(--dark2), var(--color1), var(--dark2));
  
  --grp1: #ae3a25;
  --grp2: #da764a;
  --grp3: #e6b890;

  --font1: "roboto";
  --font2: "lora";
  --font3:"inconsolata";
  --font4 :'Bellefair';
}

a, a:visited {
    text-decoration: none;
  color:var(--color1);
}

.glitch{
  color: var(--light1) !important;;
  font-family:var(--font4);
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  font-size: 30px;
  position: relative;
}
.glitch:after{
   content: attr(data-text);
  position: absolute;
  width:100%;
  left: 2px;
  right:0;
  text-shadow: -3px 0 red;
  top: -2px;
  color: var(--light1);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  right:0;
  margin:auto;
  text-shadow: 3px 0 #0FEFEF;
  top: 2px;
  color: var(--light1);
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
html {
  background:var(--bgdark); 
  color:var(--light1); 
  font-family:var(--font2);
position:relative;$
z-index:10;}
html::before{
  content:"";
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
background-size:cover;
background-repeat:no-repeat;
  mix-blend-mode:darken;
}


body{
  width:900px;
  padding:0px 0px;
  margin:20px auto;
  padding:0px !important;
  border-radius:10px;
  text-align:justify;
  font-size:13px;
  line-height:13px;
}

::-webkit-scrollbar {
width: 3px;
  }
 
::-webkit-scrollbar-track {
background: var(--bgdark);
border-radius: 2px;  
}
 
::-webkit-scrollbar-thumb {
background:var(--light1);
border: 1px solid var(--bgdark);
}

.partos{
  width:500px;
  padding:10px;
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  background:var(--bgdark);  
  outline:1px solid var(--color);
  outline-offset:5px;
  border-radius:2px;
  z-index:10;
  margin-left:10px;
}

.partos mainTitle,
.partos .sub{
  display:block;
  width:100%;
  flex-grow:2;
}

.partos mainTitle{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:40px;
  font-family:'Bellefair';
  padding:0px 10px;
  font-weight:bold;
  z-index:10;
  text-shadow: 1px 1px var(--dark1);
}

.partos .gauche{
  width:70%;
}

.partos .gauche>div:nth-child(1){
  width:100%;
  height:100px;
  overflow:hidden;
  background:url('https://zupimages.net/up/25/41/wdcf.png');
  background-size:cover;
  background-position-y:40%;
  z-index:-1;
}


.partos .gauche div:nth-child(2){
  height:100px;
  overflow:auto;
  padding-right:5px;
  margin:10px 0px;
}

.partos .gauche div:nth-child(3){
  display:flex;
  gap: 10px;
  font-size:12px;
}

.partos .gauche div:nth-child(3)>*{ width: 50%;}
.partos .gauche div:nth-child(3) xx{  
    display: inline;
    font-style: normal;
    font-weight: bold;
    font-family: var(--font3);
    text-transform: uppercase;
  color:var(--color1);
  text-shadow:1px 1px 0px #000;
}

.partos .gauche div:nth-child(3) news{
  height:50px;
  overflow:auto;
}
.partos .gauche div:nth-child(3) credits{
  font-style:italic;
  background:var(--dark1);
  padding:3px;
}

.partos .droite{
  width:28%;
  background:linear-gradient(to bottom, var(--color1), var(--bgdark));
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  gap:10px; 
  padding-bottom:20px;
}
.partos .droite>a{
  font-family:var(--font3);
  text-transform:uppercase;
  color:var(--light1)
}

.partos .sub{
  margin-top:10px;
  display:flex;  
  align-items: baseline;
}

.partos .sub elm{  
    display: block;
    height: 3px;
    background: var(--gradient3);
    flex-grow: 1;
}

.partos .sub span{
  display:inline-block;
  padding-left:10px;
  text-transform:uppercase;
  font-size:15px
}
