@mixin v-h-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btn--corners {
  position: relative;
  border: 5px solid #7b1f1c;
}

.btn--corners::before,
.btn--corners::after {
  content: "";
  position: absolute;
  background-color: #1C1918;
  z-index: -1;
  transition: 200ms ease-in;
  transform-origin: center center;
}

.btn--corners::before {
  width: 110%;
  height: 90%;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--corners::after {
  height: 110%;
  width: 90%;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

.btn--corners:hover::before {
  width: 0;
}

.btn--corners:hover::after {
  height: 0;
}

