@mixin v-h-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btn--corners {
  position: relative;
  border: 10px solid #7b1f1c;
}

.btn--corners::before,
.btn--corners::after {
  content: "";
  position: absolute;
  background-color: #343642;
  z-index: 0;
  transition: 200ms ease-in;
  transform-origin: center center;
}

.btn--corners::before {
  width: calc(100% + 2px * 2 - 10px);
  height: calc(100% + 2px * 2);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--corners::after {
  height: calc(100% + 2px * 2 - 10px);
  width: calc(100% + 2px * 2);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

.btn--corners:hover::before {
  width: 0;
}

.btn--corners:hover::after {
  height: 0;
}

