.angleline .credit{  
  position:absolute;
  bottom:-10px;
  right:50px;
  margin:auto;
  color:grey;
  font-style:italic;
  font-size:9px;
}

.angleline{
  width:400px;
  margin:auto;
  position:relative;
  margin-bottom:10px
}

.angleline div{
  display:inline-block;
  width:45%;
  vertical-align:top;
}

.angleline .img{
  position:relative;
  width:54%;
  z-index:10;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 34% 100%, 0% 45%);
overflow:hidden}

.angleline::after{
  content:"";
  width:140px;
  height:5px;
  background:#775499;
  transform:rotate(46deg);
  transform-origin:top left;
  box-shadow:-3px 3px 3px #adadad;
  position:absolute;
  top:48px;
  right:23%;
  z-index:10;
}

.angleline .left{
  position:relative;
  z-index:100;
  height:150px;
}
.angleline .txt{
  color:white;
  width:100%;
  position:absolute;
  bottom:0;
  right:-40px;
}

.angleline .txt>*{display:block;}

.angleline .txt hd{
   font-family: 'PT Sans Narrow', sans-serif;
  text-transform:uppercase;
  font-size:19px;
  color:#775499;
}

.angleline .txt sub{
  font-size:11px;
  line-height:12px;
  margin-top:10px;
  text-align:justify;
  font-family: 'Xanh Mono', monospace;
  padding:5px;
}

.angleline .pal{
  position:absolute;
  top:20px;
  right:20px;
  width:120px;
  text-align:center;
}

.angleline .pal span{
  display:inline-block;
  width:20px;
  height:20px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background:#775499;
  margin:0px 5px
}

.angleline .pal span:nth-child(2){
  background:#775499;
  opacity:0.7;
}
.angleline .pal span:nth-child(3){
  background:#775499;
  opacity:0.5;
}
.angleline .pal span:nth-child(4){
  background:#775499;
  opacity:0.3;
}
