.headCat{
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 70%);
}

.headerbar{
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 70%);
}

.headerbar .myNav{
  -webkit-clip-path: polygon(0 70%, 0% 100%, 100% 100%);
  clip-path: polygon(0 70%, 0% 100%, 100% 100%);
}

